<% include partials/header.ejs %>

<% if(report) { %>

<article class="single-report">
  <h1><%-report.title%></h1>
  <h3 class="single-report-author">By: <%-report.author.username%></h3>
  <h3>Area:<%-report.area%></h3>
  <p><%-report.body%></p>
  <% if(currentUser.username === report.author.username){ %>

  <a href="/log/edit/<%=report.id%>" class="btn btn-md btn-warning">Edit</a>
  <a href="/log/delete/<%=report.id%>" class="btn btn-md btn-danger">Delete</a>

  <% } %>
</article>

<% } else { %>

<h1>Nothing to render</h1>

<% } %>

<% include partials/footer.ejs %>