<% include partials/header.ejs %>
<h1>Reports</h1>
<% if (reports.length !== 0 || !reports) { %>
    <div class="row">
    <% reports.forEach((report)=>{ %>

            <div class="card col-md-6">
                <div class="card-body">
                    <h5 class="card-title"><%-report.title%></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Author: <%-report.author.username%></h6>
                    <h6 class="card-subtitle mb-2 text-muted">Area: <%-report.area%></h6>
                    <p class="card-text"><%-report.body%></p>
                    <a class="btn btn-md btn-warning" href="/log/<%-report.id%>">More</a>
                    <button class="btn btn-md btn-danger">Delete</button>
                </div>
            </div>
    <% })%>
    </div>
<% } else { %>
    <h3>There are: <%- reports.length %> reports</h3>
<% } %>
<% include partials/footer.ejs %>